{% extends "base.html" %}

{% block content %}
    <h2>Add a New Recipe</h2>
    <form method="POST" class="recipe-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=5) }}<br>
            {% for error in form.description.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients(rows=5) }}<br>
            {% for error in form.ingredients.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image_url.label }}<br>
            {{ form.image_url(size=32) }}<br>
            {% for error in form.image_url.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='button') }}</p>
    </form>
{% endblock %}